{% macro project(project_name='', service_name='', description='', img_url='', img_file='') -%}
<div class="project">
    <a href="#">
        <img src="{{url_for(img_url, filename=img_file)}}" alt="" class="col-backdrop">
    </a>
    <!-- <div class="col-backdrop"></div> -->
    <div class="content px-3 text-center bg-black-glass shadow">
        <p class="h3 text-white">{{project_name}}</p>
        <p class="text-white font-italic font-weight-light">{{service_name}}</p>
        <p class="text-light fot-weight-light text-left">
            {{description}}
        </p>
        <a href="#" class="links d-flex mx-auto align-items-center">
            <span class="text-warning mb-1">Read More</span>
            <span class="btn btn-sm btn-warning shadow ml-2 text-center">
                <i class="fas fa-chevron-right"></i>
            </span>
        </a>
    </div>
</div>
{%- endmacro %}


{% macro review_card(title='', author='', content='', service='', date='', index=0) -%}
<div class="card shadow rev border-0 review-{{index%4}}">
    <div class="card-header border-0">
        <h5 class="card-title mb-1">{{title}}</h5>
        <small class="card-subtitle font-weight-normal">By {{author}}</small>
    </div>
    {% if content %}
    <div class="card-body">
        <p class="card-tex">{{content}}</p>
    </div>
    {% endif %}
    <div class="card-footer border-0 d-flex justify-content-between">
        <small class="font-italic font-weight-bold service">For {{service}}</small>
        <small class="font-italic">Posted on {{date}}</small>
    </div>
</div>
{%- endmacro %}

{% macro service_gallery_item(id='', name='', description='', price='') -%}
<div class="col-md-4 col-sm-12 col-lg-4">
    <div class="card bg-black-glass text-white text-center  my-3">
        <div class="card-header border-0">
            <h4 class="card-title">{{name}}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{description}}</p>
            <p class="h3">Starting @ just</p>
            <p class="display-3"><sup class="h2">₹</sup> {{price}}/-</p>
        </div>
        <div class="card-footer border-0">
            <a href="{{url_for('service_list', _anchor=id)}}" class="btn btn-light font-weight-bold text-uppercase">
                Explore <i class="fas fa-chevron-right ml-2"></i>
            </a>
        </div>
    </div>
</div>
{%- endmacro %}
