<!-- Home Page Layout Template -->
<!-- Extends the main.layout.html template and will be extended by other pages in this module only. -->
{% extends 'main.layout.html' %}
{% block page_style%}
<link rel="stylesheet" href="{{url_for('BP_home.static', filename='styles/BP_home.css')}}">
{% endblock page_style %}


{% block body_content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="container mt-3">
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% include 'coming-soon.html' %}

{% endblock body_content%}