{% extends 'main.layout.html' %}
{% set active='home' %}
{% import 'home_macros.html' as macros %}

{% block page_style%}
<link rel="stylesheet" href="{{url_for('BP_home.static', filename='styles/BP_home.css')}}">
{% endblock page_style %}


{% block body_content %}
<div class="sections">
  <!-- Welcome Section -->
  <section id="s1" class="d-flex flex-column justify-content-around">
        <div class="text-content ml-2">
            <p class="h2 text-warning">Welcome to</p>
            <p class="display-4 font-weight-bold text-white mb-3">KreatiVision PhotoArts</p>
            <p class="h5 text-light">Let's add some creativity to your brilliant vision.</p>
            <div class="links d-flex flex-column flex-md-row justify-content-start">
                <a href="#about" class="btn bg-warning text-dark shadow font-weight-bold text-uppercase mr-auto">
                    Learn More <i class="fas fa-arrow-right ml-2"></i>
                </a>
                <a href="#projects" class="btn text-warning bg-clear-glass font-weight-bold text-uppercase mr-auto">
                    checkout Our Projects <i class="fas fa-arrow-right ml-2"></i>
                </a>
            </div>
        </div>
        <div class="offers shadow mx-2 p-3">
            <p class="h3">Launch Offer</p>
            <p class="h6">Get your first design at flat <span class="h3 text-danger font-weight-normal">60% off.</span>
            </p>
            <div class="links d-flex justify-content-start">
                <a href="{{url_for('login')}}"
                    class="btn bg-dark text-warning font-weight-bold shadow text-uppercase mr-auto">
                    Design Now <i class="fas fa-chevron-right ml-3"></i>
                </a>
                <a href="#team" class="btn text-dark font-weight-bold text-uppercase mr-auto">
                    Explore <i class="fas fa-chevron-right ml-3"></i>
                </a>
            </div>
        </div>
        <img src="{{url_for('BP_home.static', filename='images/bg-s1-01.png')}}" alt="" class="section-background">
    </section>


  <!-- Heading for section 2 -->
  <div class="section-head" id="about">
    <p class="display-4 text-center text-white">About Us</p>
  </div>
  <!-- section 2 -->
  <section id="s2" class="container-fluid">
    <img src="{{url_for('BP_home.static', filename='images/bg-about-2.jpg')}}" alt="" class="section-background">
    <!-- The About section will come here. -->
  </section>

  <!-- Heading for section 3 -->
  <div class="section-head" id="projects">
    <p class="display-4 text-center text-white">Our Recent Projects</p>
  </div>
  <!-- section 3 -->
  <section id="s3" class="container-fluid px-0">
    <div class="d-flex projects">
      {% for project_name, service_name, description, img_url, img_file in projects %}
      {{macros.project(project_name=project_name, service_name=service_name, description=description, img_url=img_url,
      img_file=img_file)}}
      {% endfor %}
    </div>
  </section>

  <!-- Heading for section 4 -->
  <div class="section-head" id="reviews">
    <p class="display-4 text-center text-white">What our clients say!</p>
  </div>
  <!-- section 4 -->
  <section id="s4">
    <div class="container mt-4">
      <div class="card-columns">
        {{macros.review_card(reviews)}}
      </div>
      <div class="link d-flex justify-content-center py-2">
        <a href="#" class="btn bg-clear-glass btn-outline-warning text-uppercase font-weight-bold">
          Read all Reviews <i class="fas fa-chevron-right ml-2"></i>
        </a>
      </div>
    </div>
  </section>

  <!-- Heading for section 5 -->
  <div class="section-head sec-5" id="team">
    <p class="display-4 text-center text-white">Most Popular</p>
  </div>
  <!-- section 5 -->
  <section id="s5"></section>
</div>
{% endblock body_content %}



{% block page_scripts %}
<script src=" {{url_for('BP_home.static', filename='js/home.js')}} "></script>
{% endblock page_scripts%}