<!-- Home Page Layout Template -->
<!-- Extends the main.layout.html template and will be extended by other pages in this module only. -->
{% extends 'main.layout.html' %}
{% import 'macros.html' as macros %}
{% block page_style%}
<link rel="stylesheet" href="{{url_for('BP_home.static', filename='styles/BP_home.css')}}">
{% endblock page_style %}


{% block body_content %}
<!-- Welcoming section. -->
<div class="jumbotron-fluid bg-black-glass text-white px-3 py-1 mt-4">
  <div class="row">
    <div class="col-md-6 col-sm-12 border-bottom border-top border-warning pt-3">
      <p class="h2 text-warning">Welcmome To</p>
      <p class="display-3">KreatiVision PhotoArts</p>
      <h5 class="h5 pb-3">The place where your ideas take form.</h5>
      <div class="welcome-links row">
        <div class="col-md-6">
          <a href="#" class="btn btn-warning btn-block text-dark my-3 services">
            EXPLORE SERVICES <i class="fas fa-chevron-right ml-1"></i>
          </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="btn btn-info btn-block text-light my-3 services">
            RECENT PROJECTS <i class="fas fa-chevron-right ml-1"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 border-bottom border-top border-warning pt-3">
      <h3 class="h3 text-warning text-center text-md-left">About</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius debitis nemo cum exercitationem iusto itaque id? Magnam praesentium molestias eius.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius debitis nemo cum exercitationem iusto itaque id? Magnam praesentium molestias eius.
      </p>
      
    </div>
  </div>
</div>

<div class="jumbotron-fluid text-center bg-white-glass text-dark py-3 px-3 mt-4" id="services-row">
    <h3 class="h3">Explore our Services.</h3>
    <div class="row">
      {{ macros.service(heading='Poster Design', body='Lorem ipsum dolor sit amet consectetur adipisicing elit.', price='399', link='#') }}
      {{ macros.service(heading='Visiting Cards', body='Lorem ipsum dolor sit amet consectetur adipisicing elit.', price='450', link='#') }}
      {{ macros.service(heading='Visiting Cards', body='Lorem ipsum dolor sit amet consectetur adipisicing elit.', price='450', link='#') }}
      {{ macros.view_all(link='#', label='VIEW ALL SERVICES') }}
    </div>
</div>

<div class="jumbotron-fluid text-center bg-black-glass text-light p-3 mt-4">
  <h3 class="h3">What people say about us?</h3>
  <p class="display-4">Add recent reviews here.</p>
</div>

<div class="jumbotron-fluid text-center bg-white-glass text-dark p-3 mt-4">
  <h3 class="h3">See recent projects.</h3>
  <p class="display-4">Add some.</p>
  <p class="h4">With a link to view all projects <i class="fas fa-chevron-right"></i></p>
</div>

<div class="jumbotron-fluid text-center bg-dark text-light p-3 my-4">
  <h3 class="h3 text-warning">Footer</h3>
  <p class="display-4 text-info">Add the footer content.</p>
  <p class="h4">All social links and similar items.</p>
  <p class="h5">this should probably be on all pages.</p>
</div>

{% endblock body_content%}