{% macro project(project_name='', service_name='', description='', img_url='', img_file='') -%}
<div class="project">
    <a href="#">
        <img src="{{url_for(img_url, filename=img_file)}}" alt="" class="col-backdrop">
    </a>
    <div class="content px-3 text-center bg-black-glass shadow">
        <p class="h3 text-white">{{project_name}}</p>
        <p class="text-white font-italic font-weight-light">{{service_name}}</p>
        <p class="text-light fot-weight-light text-left">
            {{description}}
        </p>
        <a href="#" class="links d-flex mx-auto align-items-center">
            <span class="text-warning mb-1">Read More</span>
            <span class="btn btn-sm btn-warning shadow ml-2 text-center">
                <i class="fas fa-chevron-right"></i>
            </span>
        </a>
    </div>
</div>
{%- endmacro %}
