{% extends 'main.layout.html' %}
{% set active='services' %}

{% block page_style%}
<link rel="stylesheet" href="{{url_for('BP_home.static', filename='styles/BP_home.css')}}">
{% endblock page_style %}

{% block body_content %}
<p class="container h2 text-center text-light section-head">{{labels['heading']}}</p>
<section class="mb-5 service-list">
    {% for item in catalogue %}
    <div class="container-fluid px-2" id="{{item.id + 'Parent'}}">
        <div class="container review-2 shadow service-name my-2 rounded">
            <div class="content d-flex">
                <p class="h4 w-50 my-4">{{item.name}}</p>
                <a class="ml-auto mr-2 btn btn-sm btn-light border-0 shadow" onclick="scrollCollapseToView(this)"
                    id="btn-{{item.id}}" data-toggle="collapse" aria-controls="{{item.id}}" aria-expanded="false">
                    <span class="font-weight-bold">EXPLORE</span> <i class="fas fa-chevron-down ml-1"></i>
                </a>
            </div>
            <div class="collapse container px-0 py-0" id="{{item.id}}">
                <div class="row">
                    {% for service in item.variations %}
                    <div class="col-md-4 col-lg-4 mb-3">
                        <div class="card shadow border-0 rounded">
                            <img src="{{url_for('static', filename='images/service-images/'+service.header_img)}}" alt="" class="card-img-top">
                            <div class="card-body text-center pb-0 px-2">
                                <!-- <h5 class="card-title">{{service.name}}</h5> -->
                                <p class="small card-text mb-2">{{service.description}}</p>
                                <p class="h5 text-info">{{labels['getYours']}}</p>
                                <p class="h3">
                                    <sup class=" text-light h5">₹</sup>{{service.price}}/-
                                </p>
                            </div>
                            <div class="card-footer border-0 d-flex justify-content-center">
                                <a href="{{url_for('BP_account.customize_service', service_Id=service.id)}}" class="btn btn-sm btn-warning border-0 shadow font-weight-bold">
                                    {{labels['makeThis']}} <i class="fas fa-chevron-right ml-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="container-fluid px-2" id="contactUs">
        <div class="container review-0 shadow service-name my-2 rounded">
            <div class="content d-flex">
                <p class="h4 w-50 my-4">Need something different?</p>
                <a href="#" class="ml-auto mr-2 btn btn-sm btn-dark border-0 shadow">
                    <span class="font-weight-bold text-uppercase">Contact US</span>
                </a>
            </div>
        </div>
    </div>
</section>

{% include 'fab.html' %}
{% endblock body_content %}

{% block page_scripts %}
<script src="{{url_for('BP_home.static', filename='js/home.js')}}"></script>
{% endblock page_scripts%}