{% extends 'main.layout.html' %}
{% set active='blog' %}

{% block page_style%}
<link rel="stylesheet" href="{{url_for('BP_home.static', filename='styles/BP_home.css')}}">
{% endblock page_style %}

{% block body_content %}
<!-- <div style="padding-top: 60px;" class="mt-3 ml-5">
    <button type="button" class="btn btn-light font-weight-bold" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-pencil-alt mr-2"></i> EDIT
    </button>
    <div class="dropdown-menu">
        <button class="dropdown-item" href="#">Profile</button>
        <button class="dropdown-item" href="#" data-toggle="modal" data-target="#editPassword">Password</button>
    </div>
</div> -->
<div class="card ml-5 mt-5" style="width: 18rem;">
    <div class="card-header d-flex justify-content-center">
        <img src="{{url_for('static', filename='images/project-images/random-1.jpg')}}" alt="" style="width: 150px; height: 150px; border-radius: 50%;" class="mt-3">
    </div>
</div>
{% endblock body_content %}

{% block page_scripts %}
<script src=" {{url_for('BP_home.static', filename='js/home.js')}} "></script>
{% endblock page_scripts%}