{% extends 'main.layout.html' %}

{% block page_style%}
<link rel="stylesheet" href="{{url_for('BP_auth.static', filename='styles/BP_auth.css')}}">
{% endblock page_style %}

{% block body_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 px-0 offset-md-3">
            <div class="card bg-clear-glass text-light">
                <div class="card-body px-2">
                    <div class="card-title">
                        <p class="h2 pb-0 mb-0">{{page}}</p>
                    </div>
                    {% block form %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body_content %}

{% block page_scripts %}
<script src="{{url_for('BP_auth.static', filename='js/form.js')}}"></script>
{% endblock page_scripts%}