{% extends 'auth.layout.html' %}
{% set active=None %}

{% block form %}
<form action="" method="POST">
  {{form.hidden_tag()}}
  <fieldset>
    <div class="container f-field bg-light">
      <div class="input-group">
        {% if form.password.errors %}
        {{form.password(class="form-control is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span><i class="fas fa-times-circle mr-2"></i>{{error}}</span>
          {% endfor %}
        </div>
        {% else %}
        {{form.password(class="form-control")}}
        {% endif %}
        {{form.password.label(class="form-control-label")}}
        <div class="input-group-append">
          <button class="btn" type="button" id="pwd-toggle" onclick="togglePassword()">
            <i class="fas fa-eye-slash"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="container bg-light f-field">
      <div class="form-group">
        {% if form.cnf_password.errors %}
        {{form.cnf_password(class="form-control is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.cnf_password.errors %}
          <span><i class="fas fa-times-circle mr-2"></i>Passwords don't match!</span>
          {% endfor %}
        </div>
        {% else %}
        {{form.cnf_password(class="form-control")}}
        {% endif %}
        {{form.cnf_password.label(class="form-control-label")}}
      </div>
    </div>
  </fieldset>

  <div class="form-group mt-4">
    {{form.submit(class="btn btn-warning btn-block font-weight-bold shadow")}}
  </div>
</form>
{% endblock form %}