{% extends 'auth.layout.html' %}

{% block form %}
<form action="" method="POST">
    {{form.hidden_tag()}}
    <fieldset>
        <div class="container bg-light f-field">
            <div class="form-group">
                {% if form.username.errors %}
                {{form.username(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors%}
                    <span><i class="fas fa-times-circle mr-2"></i>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.username(class="form-control")}}
                <!-- <small class="helper-text text-dark">Required.</small> -->
                {% endif %}
                {{form.username.label(class="form-control-label")}}
            </div>
        </div>
        <div class="container bg-light f-field">
            <div class="form-group">
                {% if form.email.errors %}
                {{form.email(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span><i class="fas fa-times-circle mr-2"></i>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.email(class="form-control")}}
                {% endif %}
                {{form.email.label(class="form-control-label")}}
            </div>
        </div>
        <div class="container bg-light f-field">
            <div class="form-group">
                {% if form.contact.errors %}
                {{form.contact(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.contact.errors %}
                    <span class="text-info">
                        <i class="fas fa-exclamation-circle mr-2"></i>
                        {{error}}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.contact(class="form-control")}}
                <small class="helper-text text-muted">We will only use this for sending order updates.</small>
                {% endif %}
                {{form.contact.label(class="form-control-label")}}
            </div>
        </div>
        <div class="container f-field bg-light">
            <div class="input-group">
                {% if form.password.errors %}
                {{form.password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span><i class="fas fa-times-circle mr-2"></i>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.password(class="form-control")}}
                {% endif %}
                {{form.password.label(class="form-control-label")}}
                <div class="input-group-append">
                    <button class="btn" type="button" id="pwd-toggle" onclick="togglePassword()">
                        <i class="fas fa-eye-slash"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="container bg-light f-field">
            <div class="form-group">
                {% if form.cnf_password.errors %}
                {{form.cnf_password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.cnf_password.errors %}
                    <span><i class="fas fa-times-circle mr-2"></i>Passwords don't match!</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.cnf_password(class="form-control")}}
                {% endif %}
                {{form.cnf_password.label(class="form-control-label")}}
            </div>
        </div>
    </fieldset>

    <div class="form-group mt-1">
        {{form.submit(class="btn btn-warning btn-block")}}
    </div>
</form>
<a href="{{url_for('login')}}" class="btn btn-info btn-block text-white">
    Already a Member? <strong>LOGIN</strong>
</a>
{% endblock form %}