<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/vendors.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='styles/FA.css')}}"> -->
    <link rel="stylesheet" href="{{url_for('BP_admin.static', filename='styles/admin.css')}}">
    <title>{{title}} | KV Admin</title>
</head>

<body>
    {% set navItems = [
    ('tachometer-alt', url_for('BP_admin.home'), 'dashboard', 'Dashboard'),
    ('tags', url_for('BP_admin.orders'), 'orders', 'Orders'),
    ('comments', url_for('BP_admin.reviews'), 'reviews', 'Reviews'),
    ('boxes', url_for('BP_admin.services'), 'services', 'Services'),
    ('blog', url_for('BP_admin.blog'), 'blog', 'Blog'),
    ('shapes', url_for('BP_admin.offers'), 'offers', 'Offers'),
    ('cog', url_for('BP_admin.settings'), 'settings', 'Settings')
    ] %}
    {% set active = active|default('admin_home') -%}
    <header>
        <nav class="bg-dark" id="sidebar">
            <ul class="list-unstyled text-white">
                {% for icon, href, id, caption in navItems %}
                <li class="{{'active' if active==id else ''}}">
                    <a href="{{href|e}}" class="nav-link text-light d-flex align-items-center">
                        <i class="fas fa-{{icon}} mr-2"></i> {{caption|e}}<i
                            class="active-ico fas fa-chevron-right ml-auto mr-3"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark shadow">
            <button type="button" class="btn ml-0" id="sidebarToggle" onclick="toggleSidebar('open')">
                <i class="fas fa-stream text-white"></i>
            </button>
            <a class="navbar-brand mr-auto ml-2">KV PhotoArts: Admin</a>
        </nav>
    </header>
    <main class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, content in messages %}
        <div class="toast shadow" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2300">
            <div class="toast-header">
                <strong class="mr-auto text-{{category}}">{{content[0]}}</strong>
            </div>
            <div class="toast-body">
                {{content[1]}}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block admin_content %}{% endblock %}
    </main>
    <footer>
        <div class="fab-logout bg-dark shaodw">
            <a type="button" class="fab-toggle d-flex justify-content-center align-items-center h-100"
                data-toggle="tooltip" data-placement="top" title="Log-out" href="{{url_for('BP_auth.logout')}}">
                <span class="text-light text-decoration-none">
                    <i class="fas fa-sign-out-alt"></i>
                </span>
            </a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="{{url_for('BP_admin.static', filename='js/admin.js')}}"></script>
</body>

{% block page_script %}{% endblock %}
</html>