{% extends 'admin.layout.html' %}
{% set active='settings' %}

{% block admin_content %}
<div class="container-fluid px-1 mt-4">
  <div class="container">
    <div class="card shadow border-0">
      <div class="card-body d-flex rounded acc-info">
        <div class="img-container position-relative">
          <img src="{{url_for('static', filename='images/project-images/random-1.jpg')}}" alt="" class="acc-img">
          <button class="btn btn-sm btn-warning edit-img-btn shadow" data-toggle="tooltip" data-placement="bottom"
            title="Change Profile Picture">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </div>
        <div class="info-container d-flex mx-2 flex-column position-relative">
          <div class="h3 text-dark mb-3">{{current_user.username}}</div>
          <p class="font-italic text-dark my-0">
            <span id="adminMail">{{current_user.email}}</span>
            {% if current_user.verified %}
            <span class="font-weight-normal badge badge-pill badge-success"><i
                class="mr-1 fas fa-check"></i>Verified</span>
            {% else %}
            <span class="font-weight-normal badge badge-pill badge-danger"><i class="mr-1 fas fa-times"></i>Not
              Verified</span>
            {% endif %}
          </p>
          <p class="font-italic text-dark my-0">+91 {{current_user.contact}}</p>
          <div class="dropdown">
            <button class="btn btn-sm btn-warning font-weight-bold shadow mt-3" type="button" data-toggle="dropdown">
              <i class="fas fa-pencil-alt mr-2"></i> EDIT
            </button>
            <div class="dropdown-menu bg-dark shadow border-0">
              <button class="dropdown-item" data-toggle="modal" data-target="#infoModal">Account Info</button>
              <button class="dropdown-item" data-toggle="modal" data-target="#pwdModal">Password</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark border-0">
      <div class="modal-header d-flex justify-content-center border-0">
        <h5 class="modal-title text-light" id="infoModalLabel">Edit Account Info</h5>
      </div>

      <form action="" method="POST">
        {{detailsForm.hidden_tag()}}
        <fieldset>
          <div class="modal-body {{'info-invalid' if detailsForm.errors else ''}}">
            <div class="container bg-light f-field">
              <div class="form-group">
                {{detailsForm.username(class="form-control")}}
                {{detailsForm.username.label(class="form-control-label")}}
                <div class="invalid-feedback">
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="name_error"></span>
                </div>
              </div>
            </div>
            <div class="container bg-light f-field">
              <div class="form-group">
                {{detailsForm.email(class="form-control")}}
                {{detailsForm.email.label(class="form-control-label")}}
                <div class="invalid-feedback">
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="email_error"></span>
                </div>
              </div>
            </div>
            <div class="container bg-light f-field">
              <div class="form-group">
                {{detailsForm.contact(class="form-control")}}
                {{detailsForm.contact.label(class="form-control-label")}}
                <div class="invalid-feedback">
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="contact_error"></span>
                </div>
              </div>
            </div>
            <div class="container bg-light f-field">
              <div class="form-group">
                {% if detailsForm.password.errors %}
                {{detailsForm.password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in detailsForm.password.errors %}
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="password_error">{{error}}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{detailsForm.password(class="form-control")}}
                {% endif %}
                {% if not detailsForm.password.errors %}
                <div class="invalid-feedback">
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="password_error"></span>
                </div>
                {% endif %}
                <small class="helper-text font-italic text-muted">Password needed to make changes.</small>
                {{detailsForm.password.label(class="form-control-label")}}
              </div>
            </div>
          </div>
          <div class="modal-footer border-0">
            <input type="hidden" name="form" value="info">
            <button type="button" class="btn btn-sm shadow btn-secondary" data-dismiss="modal">Close</button>
            {{detailsForm.submit(class="btn btn-sm btn-warning shadow")}}
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock admin_content %}


{% block page_script %}
<script src="{{url_for('BP_admin.static', filename='js/settings.js')}}"></script>
{% endblock page_script %}