// View on desktops
@media only screen and (min-width: 768px) {
    .floating-action {
        right: 35px;
        bottom: 20px;
        width: 60px;
        height: 60px;
        .call {
            display: none;
            pointer-events: none;
        }
        .fab-item {
            padding: 8px 22px;
        }
    }
}
// View on mobile devices
@media only screen and (max-width: 768px) {
    .floating-action {
        bottom: 15px;
        right: 17px;
        width: 50px;
        height: 50px;
        .fab-item {
            padding: 8px 12px;
        }
    }
}
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1000;
    visibility: hidden;
    transition: all 0.3s ease;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}
.floating-action {
    z-index: 1001;
    position: fixed;
    border-radius: 50%;
    .fab-toggle {
        border-radius: 50%;
        transition: all 0.2s ease;
        cursor: pointer;
        font-size: 1.3rem;
        box-shadow: 0px 6px 15px rgba($color: #000000, $alpha: 0.5);
        &:hover {
            color: #b83226;
        }
    }
    .fab-options {
        position: absolute;
        bottom: 30px;
        right: 0px;
        border-radius: 10px;
        list-style: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
        .fab-head {
            cursor: default;
        }
        a.fab-link .fab-item {
            transition: all 0.2s ease;
            &:hover {
                background-color: rgb(206, 206, 206);
                color: #ea4335;
            }
            .icon {
                margin-right: 18px;
                font-size: 1.2rem;
                width: 12px;
            }
            .text {
                font-weight: 400;
            }
        }
    }
    &.active {
        .fab-toggle {
            transform: rotate(-45deg);
        }
        .fab-options {
            opacity: 1;
            visibility: visible;
            bottom: 45px;
        }
    }
}
