body {
    overflow: hidden;
}

main {
    height: calc(100vh - 56px);
    width: 100%;
    position: absolute;
    top: 56px;
    overflow: auto;
    padding-top: 10px;
}

// media queries to make the navigation bar responsive
@media only screen and (max-width: 768px)  {
    #topBar{
        display: none;
        pointer-events: none;
    }
}

@media only screen and (min-width: 768px)  {
    #sidebar, #sidebarToggle {
        display: none;
        pointer-events: none;
    }
}

.navigation-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.fixed-top {
    z-index: 999 !important;
    box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.5);
}

#sidebar {
    margin-left: -300px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    
    padding: 15px;
    .sidebar-header {
        display: flex;
        flex-direction: row;
    }
    .components {
        li {
            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;
            margin-bottom: 20px;
            transition: all 0.2s ease;
            a {
                color: white;
                display: inline-block;
                padding-left: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.25);
                width: -webkit-fill-available;
                width: fill-available;
                width: -moz-available;
            }
            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.35);
                text-decoration: none !important;
                cursor: pointer;
            }
        }
        li.active {
            border-left: 4px solid white;
            a {
                padding-left: 16px;
            }
        }
    }
}

#sidebar.active {
    margin-left: 0px;
    box-shadow: 4px 0px 25px 5px rgba($color: #000000, $alpha: 0.5);
}

#topBar {
    .nav-item {
        text-transform: uppercase;
        font-weight: 600;
        margin: 0px 10px;
    }
}


.btn {
    border-radius: 30px;
}


// Glass background classes
.bg-clear-glass {
    background: transparent;
    background-color: transparent !important;
    backdrop-filter: blur(10px);
}

.bg-black-glass {
    background: rgba($color: #000, $alpha: 0.3);
    backdrop-filter: blur(10px);
}

.bg-white-glass {
    background: rgba($color: #fff, $alpha: 0.3);
    backdrop-filter: blur(10px);

}