// Module Specific Styles - Home Module
$black-60: rgba(
    $color: #000000,
    $alpha: 0.6,
);
$shadow-small: 0px 4px 15px -5px $black-60;

// handset media query
@media only screen and (max-width: 768px) {
    .repos-header {
        text-align: center;
    }
    #intro {
        #brand,
        #about {
            width: 100% !important;
        }
        #links {
            flex-direction: column !important;
            a {
                margin-right: auto !important;
            }
        }
        #artwork img {
            width: 350px !important;
            height: 350px !important;
            opacity: 0.2;
            z-index: 1;
            left: 0px !important;
            top: 20px !important;
        }
    }

    #projectGallery .gallery-item {
        flex-direction: column-reverse !important;
        height: auto !important;
        .about,
        .carousel {
            width: 100% !important;
            padding: 10px !important;
        }
        .carousel-item {
            height: 220px !important;
        }
        .about {
            margin-top: 10px;
        }
    }
}

// desktop media query
@media only screen and (min-width: 768px) {
    #s3 .projects {
        flex-direction: row;
        .project .col-backdrop {
            width: 25vw;
            height: 100vh;
        }
    }
}

html,
main {
    background-image: linear-gradient(to right, #311b61, #0f001f);
}

.section-head {
    padding-top: 56px;
}

.review-0 {
    background-image: linear-gradient(135deg, #f9c1b1 0%, #fb8085 74%);
    color: #212529;
}

.review-1 {
    background-image: linear-gradient(135deg, #a4508b 0%, #5f0a87 74%);
    color: #e7e7e7;
}

.review-2 {
    background-image: linear-gradient(135deg, #f8ceec 0%, #a88beb 74%);
    color: #212529;
}

.review-3 {
    background-image: linear-gradient(135deg, #7f5a83 0%, #0d324d 74%);
    color: #e7e7e7;
}

.home-sections {
    section {
        width: 100%;
        position: relative;
        .container {
            z-index: 10;
        }
    }
    #offers {
        position: fixed;
        bottom: 15px;
        right: 2%;
        max-width: 96%;
        width: 300px;
        z-index: 25;
        background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
        border-radius: 0.6rem;
        button {
            height: 37px;
            margin-top: -5px;
        }
        a {
            font-weight: 500;
        }
    }

    #intro {
        height: calc(100vh - 56px);
        justify-content: space-evenly;
        #welcomeLabel,
        #tagline {
            color: #ffbd69;
        }
        #brand,
        #about {
            width: 50%;
        }
        #brand {
            color: #ff6363;
            letter-spacing: 1.2px;
        }
        #mainBtn {
            background-color: #ff6363;
        }
        #artwork img {
            width: 500px;
            height: 500px;
            position: absolute;
            top: 70px;
            right: 100px;
        }
    }

    #projectGallery {
        .gallery-item {
            height: 300px;
            margin-bottom: 40px;
            .about {
                width: 60%;
                padding: 0px 20px;
            }
            .carousel {
                width: 40%;
                .carousel-item {
                    height: 300px;
                    img {
                        margin: auto !important;
                    }
                }
            }
        }
    }

    #reviewGallery {
        margin-bottom: 40px;
        .container {
            .card {
                z-index: 2;
                background-color: rgba($color: #000000, $alpha: 0.3);
                backdrop-filter: blur(15px);
            }
        }
        .rev {
            border-radius: 0.7rem;
            .service {
                letter-spacing: 0.4px;
            }
        }

        .btn {
            letter-spacing: 0.4px;
        }
    }

    #serviceGallery {
        .row {
            background: url("../images/review-bg.png");
            .card {
                height: 400px;
                border: 1px solid rgba($color: #fff, $alpha: 0.4);
                border-radius: 0.6rem;
                transition: all 0.3s ease;
                box-shadow: 0px 5px 20px -4px rgba($color: #000000, $alpha: 0.3);
                &:hover {
                    transform: translatey(-15px);
                    box-shadow: 0px 5px 20px -4px rgba($color: #000000, $alpha: 0.8);
                }
                .btn {
                    letter-spacing: 0.4px;
                }
            }
        }
    }
    .get-started {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.service_list {
    min-height: 100vh;
    .service-name {
        .content {
            align-items: center;
        }
    }

    .container-fluid {
        margin-top: -60px;
        padding-top: 60px;
    }
}

.blog-page {
    .header {
        position: relative;
        height: calc(100vh - 56px);
        background: #fff url("../images/blog-header.jpg") no-repeat fixed center;
        background-size: cover;
        .content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
                transition: all 0.3s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    .full-page-blog {
        
    }
}
