// Module Specific Styles - Home Module
$black-60: rgba(
    $color: #000000,
    $alpha: 0.6,
);
$shadow-small: 0px 4px 15px -5px $black-60;

@media only screen and (max-width: 768px) {
    #s3 .projects {
        flex-direction: column;
        .project img.col-backdrop {
            width: 100vw;
            height: 62vh;
        }
    }
}

@media only screen and (min-width: 768px) {
    #s3 .projects {
        flex-direction: row;
        .project img.col-backdrop {
            width: 25vw;
            height: 100vh;
        }
    }
}

html {
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

main {
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    scroll-behavior: smooth;
}

.sections {
    .section-head {
        padding-top: 56px;
    }
    section {
        width: 100%;
        position: relative;
        overflow-x: hidden;
        .section-background {
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            object-fit: cover;
            z-index: 1;
        }
    }
    #offers {
        position: fixed;
        bottom: 15px;
        right: 2%;
        max-width: 96%;
        width: 300px;
        z-index: 25;
        background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
        border-radius: 0.6rem;
        button {
            height: 37px;
            margin-top: -5px;
        }
        a {
            font-weight: 500;
        }
    }
    #s1 {
        height: 100vh;
        padding-top: 56px;
        justify-content: space-around;
        .text-content,
        .links {
            z-index: 3;
        }
        .text-content {
            justify-content: space-around;
            .display-4 {
                font-size: 3rem;
                font-weight: 300;
                letter-spacing: 1.2px;
            }
            .tagline {
                max-width: 98%;
            }
        }
        .links {
        }
        .offers {
            max-width: 500px;
            background-image: linear-gradient(315deg, #89d8d3 15%, #03c8a8 74%);
            border-radius: 1rem;
        }
    }

    #s2 {
        height: 100vh;
    }

    #s3 {
        .projects .project {
            overflow: hidden;
            position: relative;
            img.col-backdrop {
                overflow: hidden;
                object-fit: cover;
                z-index: 1;
                transition: all 0.3s ease-in-out;
                &:hover {
                    z-index: 2;
                    transform: scale(1.1);
                }
            }
            .content {
                width: 90%;
                border-radius: 1rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
                height: 65%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
            .links .btn {
                width: 2rem;
                height: 2rem;
            }
        }
    }

    #s4 {
        .container {
            .card {
                z-index: 2;
                background-color: rgba($color: #000000, $alpha: 0.3);
                backdrop-filter: blur(15px);
            }
        }
        .rev {
            border-radius: 0.7rem;
            .service {
                letter-spacing: 0.4px;
            }
        }

        .btn {
            letter-spacing: 0.4px;
        }

        // TO change the background color of review card dynamically.
        .review-0 {
            background-image: linear-gradient(135deg, #f9c1b1 0%, #fb8085 74%);
            color: #212529;
        }

        .review-1 {
            background-image: linear-gradient(135deg, #a4508b 0%, #5f0a87 74%);
            color: #e7e7e7;
        }

        .review-2 {
            background-image: linear-gradient(135deg, #f8ceec 0%, #a88beb 74%);
            color: #212529;
        }

        .review-3 {
            background-image: linear-gradient(135deg, #7f5a83 0%, #0d324d 74%);
            color: #e7e7e7;
        }
    }

    #s5 {
        .row {
            background: url("../images/review-bg.png");
            .card {
                border: 1px solid rgba($color: #fff, $alpha: 0.4);
                border-radius: 0.6rem;
                transition: all 0.3s ease;
                box-shadow: 0px 5px 20px -4px rgba($color: #000000, $alpha: 0.3);
                &:hover {
                    transform: translatey(-15px);
                    box-shadow: 0px 5px 20px -4px rgba($color: #000000, $alpha: 0.8);
                }
                .btn {
                    letter-spacing: 0.4px;
                }
            }
        }
    }

    #s6 {
        .row {
            min-height: 50vh;
            .d-flex {
                align-items: center;
            }
            .btn {
                border: 0 !important;
                span {
                    font-weight: 300;
                    letter-spacing: 0.7px;
                }
            }
            .whatsapp {
                background-color: #25d366;
                &:hover {
                    background-color: #1fb656;
                }
                .fab {
                    font-size: 19px;
                }
            }
            .gmail {
                background-color: #ea4335;
                &:hover {
                    background-color: #b83226;
                }
            }
            .instagram {
                transition: all 0.2s ease;
                background-color: #fdf497;
                &:hover {
                    background-color: #d8ce5a;
                }
            }

            .card {
                // border-radius: 0.6rem;
                .team {
                    justify-content: space-between;
                    flex: 1 3 auto;
                    .dp {
                        width: 55px;
                        height: 55px;
                        border-radius: 50%;
                        background-color: #03c8a8;
                        // background-size: contain;
                    }
                    .card-footer {
                        flex: 1 1 auto;
                    }
                }
            }
        }
    }
}
