// Module Specific Styles - Home Module
$black-60: rgba(
    $color: #000000,
    $alpha: 0.6,
);
$shadow-small: 0px 4px 15px -5px $black-60;

@media only screen and (max-width: 768px) {
    #deskShow, .l-arr, .r-arr {
        display: none;
        pointer-events: none;
    }

    #showcaseCarousel img {
        width: 95%;
    }
}

@media only screen and (min-width: 768px) {
    #phoneShow, #controllers {
        display: none;
        pointer-events: none;
    }
    #showcaseCarousel img {
        width: 65%;
    }
}


html {
    background-image: url("../../../static/images/backdrops-02.jpg");
}

.service-card {
    .price {
        position: relative;
        sup {
            position: absolute;
            top: 15%;
            left: 13%;
        }
    }
    .card-footer {
        display: flex;
        justify-content: center;
        a {
            width: 60%;
            justify-content: space-around;
            box-shadow: $shadow-small;
            &:active {
                box-shadow: none !important;
            }
        }
    }
}

.view-more {
    background: transparent;
    .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            .fa-arrow-circle-right:before {
                transition: all 0.2s ease;
                text-shadow: 0px 4px 30px rgba($color: #000000, $alpha: 0.3);
            }
            &:active {
                .fa-arrow-circle-right:before {
                    text-shadow: none;
                }
            }
        }
    }
    .card-footer {
        background: transparent !important;
        a {
            justify-content: space-around;
            &:active {
                color: white;
                box-shadow: none !important;
            }
        }
    }
}

main {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.sections {
    section {
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // vertical-align: middle;
        width: 100%;
        height: calc(100vh - 56px);
        scroll-snap-align: center;
        position: relative;
    }
    #s1 {
        // background: linear-gradient(to left top, #033a56, #0477bf);
        img {
            position: absolute;
            bottom: 50px;
            right: 30px;
            width: 350px;
            height: 350px;
            z-index: 0;
            opacity: 0.6;
        }
        .container {
            z-index: 1;
            .row a {
                margin-top: 25px;
            }
        }
    }

    #s2 {
        .card {
            transition: all 0.3s ease-in-out;
            &:hover {
                cursor: pointer;
                transform: translate(25px, 0px) scale(1.15);
                z-index: 10;
            }
        }
        #showcaseCarousel {
            .carousel-item {
                height: 50vh;
            }
            img {
                margin: auto;
            }
        }
        .active-project {
            background: #fed766;
        }
    }
}
