$indigo: #1d1d2c;
$red: #e40c2b;
$cyan: #3cbcc3;
$color-1: #438945;
$white: #f7f4e9;
$yellow: #eba63f;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

html {
    background-image: url('../../../static/images/backdrops-02.jpg');
}



