@import "../../../static/styles/variables";

@media only screen and (max-width: 768px) {
    #sidebar {
        margin-left: -200px;
    }
    .fab-logout {
        bottom: 15px;
        right: 17px;
        width: 50px;
        height: 50px;
    }

    .acc-info {
        flex-direction: column;
        justify-content: center;
        padding: 1rem 2.6rem;
        .img-container {
            margin: 0 auto;
        }
        .info-container {
            align-items: center;
            text-align: center;
            border-top: 1px solid #999;
            margin-top: 25px;
            padding-top: 20px;
        }
    }

    .empty-container img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) {
    #sidebarToggle {
        display: none;
        pointer-events: none;
    }
    main {
        padding-left: 200px;
    }
    #sidebar {
        margin-left: 0px;
    }
    .fab-logout {
        right: 35px;
        bottom: 20px;
        width: 55px;
        height: 55px;
    }

    .acc-info {
        padding: 2rem 1.4rem;
        justify-content: start;
        .img-container {
            margin: auto 1rem auto 0.6rem;
        }
        .info-container {
            padding: 0rem 1.7rem;
            border-left: 1px solid #999;
        }
    }
    .empty-container img {
        width: 100vh;
        height: auto;
        margin: 0 auto;
    }
}

body {
    overflow: hidden;
    header {
        display: flex;
        width: 100%;
        align-items: stretch;
        background-color: transparent !important;
    }
    main {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
        padding-top: 56px;
        background-image: $admin-module-background;
    }
}

#sidebar {
    // margin-left: -300px;
    width: 200px;
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 1000;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    padding: 15px 15px 15px 0px;
    .sidebar-header {
        display: flex;
        flex-direction: row;
    }
    .list-unstyled {
        margin-top: 25px;
        li {
            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;
            margin-bottom: 20px;
            transition: all 0.2s ease;
            font-weight: 500;
            text-transform: uppercase;
            color: white;
            a {
                display: flex;
                padding: 5px 0px 5px 20px;
                width: -webkit-fill-available;
                width: fill-available;
                width: -moz-available;
                .active-ico {
                    display: none;
                }
            }
            &.active {
                background-color: $black-50;
                a {
                    color: white !important;
                    .active-ico {
                        display: inline-block;
                    }
                }
            }
        }
    }
    &.active {
        margin-left: 0px;
        // box-shadow: $sidebar-shadow;
    }
}

.navbar {
    z-index: 999 !important;
    #topBar {
        .nav-item {
            text-transform: uppercase;
            font-weight: 500;
            margin: 0px 10px;
        }
        .dropdown-menu {
            transition: all 0.3s ease;
            border: none !important;
            .badge {
                height: 20px;
            }
        }
    }
}

//Forms - inspired from maaterial
fieldset {
    .options {
        display: flex;
    }
    .f-field {
        padding: 5px 15px;
        box-shadow: $shadow-small;
        border-radius: 15px;
        margin: 10px 0px;
    }
    .form-group,
    .input-group {
        position: relative;
        margin-top: 1rem !important;
        margin-bottom: 0.5rem !important;
        .form-control {
            background-color: transparent !important;
            color: $black-90 !important;
            border-bottom: 2px solid $black-45;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
            border-radius: 0px !important;
            padding-left: 0px !important;
            transition: all 0.3s ease;
            box-shadow: none !important;
            ~ .form-control-label {
                color: $black-45;
                margin-bottom: 0px !important;
                position: absolute !important;
                top: 10px !important;
                left: 0px !important;
                transition: all 0.3s ease;
                &.active {
                    font-size: 12px;
                    transform: translateY(-25px);
                }
            }
            &:focus {
                border-bottom: 2px solid $black-90;
                outline: none !important;
                box-shadow: none;
                ~ .form-control-label {
                    color: $black-90;
                    font-size: 12px;
                    transform: translateY(-25px);
                }
            }
        }
        .input-group-append {
            button {
                background-color: transparent !important;
                border-bottom: 2px solid $black-45;
                border-top: none !important;
                border-left: none !important;
                border-right: none !important;
                border-radius: 0px !important;
            }
        }
        .is-invalid {
            border-color: $invalid-form-field !important;
            & ~ .form-control-label {
                color: $invalid-form-field !important;
            }
        }
    }
    .invalid-feedback.position-absolute {
        top: 37px;
    }
}

input[type="file"] {
    // visibility: hidden;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.dropdown-menu {
    border: 1px solid rgb(119, 119, 119);
    .dropdown-item {
        color: #ffc107;
        transition: all 0.15s ease-in-out;
        &:hover {
            color: #232323;
        }
    }
}

.acc-info {
    // background-image: linear-gradient(154deg, #a1ffce, #faffd1);
    .img-container .edit-img-btn {
        top: 75%;
        left: 75%;
        border: 3px solid white;
        border-radius: 50%;
    }
    .info-container #userContact {
        margin-top: -10px;
    }
}

.preview-container .img {
    height: 320px;
    width: 320px;
}
.img-container .img {
    width: 150px;
    height: 150px;
}
.preview-container,
.img-container {
    .img {
        overflow: hidden;
        border-radius: 50%;
        border: 3px solid white;
        img {
            object-fit: fill;
            &.horizontal {
                width: auto;
                height: 100%;
            }
            &.vertical {
                width: 100%;
                height: auto;
            }
        }
    }
}

.review {
    .review-actions .btn {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        &:not(:disabled):hover,
        &:not(:disabled):focus {
            background-color: rgb(105, 105, 105);
        }
        &:not(:disabled):focus {
            border: 1px solid rgb(219, 219, 219);
        }
        &:disabled {
            background-color: rgb(255, 255, 255);
        }
    }
}

.dashboard {
    .updates .card {
        border-radius: 0px;
    }

    .order-list {
        max-height: 35vh;
        overflow-y: auto;
        table {
            margin: 0;
            thead th {
                position: sticky;
                top: 0;
            }
            tr {
                margin: 1px;
                &:focus {
                    outline: 1px dashed #888;
                }
            }
        }
    }
    .quick-actions .action {
        background-color: white;
        transition: all 0.3s ease-in-out;
        border-bottom: 1px solid #888;
        &:hover {
            background-color: #ffc107;
            a p {
                font-weight: 400;
            }
        }
    }
}

.orders-page .details-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    box-shadow: none;
}

.order-details .order-item {
    background-color: #9e9e9e;
}