{% extends 'main.layout.html' %}
{% block page_style%}
<link rel="stylesheet" href="{{url_for('BP_account.static', filename='styles/BP_account.css')}}">
{% endblock page_style %}
{%block body_content%}



<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{{url_for('BP_account.static', filename='images/profile.webp')}}" alt="abc"> 
      </div>
      <div class="flip-card-back">
        <h1>Sukriti Shukla</h1> 
        <p>member since 1997</p> 
        <p>sukritishukla306@gmail.com</p>
        <p>mob: 7352545252</p>   
      </div>
    </div>
  </div>

{%endblock%}