{% extends 'main.layout.html' %}
{% set active='account_info' %}
{% block page_style%}
<link rel="stylesheet" href="{{url_for('BP_account.static', filename='styles/BP_account.css')}}">
{% endblock page_style %}

{%block body_content%}
<div class="container-fluid px-1">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="card card-body d-flex flex-column align-items-center mb-3">
          <div class="dp-container position-relative pb-4  border-bottom">
            <img src="{{url_for('static', filename='images/user-dp/'+current_user.dp_file)}}" alt="" class="acc-img">
            <label class="btn btn-sm btn-warning edit-img-btn shadow position-absolute" for="dpForm-dp_image">
              <i class="fas fa-pencil-alt"></i>
            </label>
          </div>
          <div class="info-container text-center mt-4">
            <h4>{{current_user.username}}</h4>
            <p class="font-italic mb-1">{{current_user.email}}</p>
            <p class="font-italic mb-1">{{current_user.contact}}</p>
          </div>
        </div>
        <!-- <div class="card">
          <img class="card-img-top" src="{{url_for('BP_account.static', filename='images/defaultimg.jpg')}}">
          <div class="card-header d-flex justify-content-center border-0">
            <img style="width: 150px;height: 250px;border-radius: 50%;" src={{dp_file}} alt="" class="mt-3">
          </div>
          <div class="card-body">
            <h4 class="card-title">{{current_user.username}}</h4>
            <p id="userEmail" class="card-text">{{current_user.email}}</p>
            <p class="card-text">{{current_user.contact}}</p>
            <p class="card-text">{{current_user.date}}</p>
          </div>
        </div> -->
      </div>
      <div class="col-md-8 col-lg-8">
        <!-- ADD the active orders table here. -->

        <!-- ADD the active orders table here. -->

        <!-- Quick actions header -->
        <h5 class="text-light">Quick Actions</h5>
        <!-- Quick actions container -->
        <div class="row no-gutters shadow quick-actions">
          <div class="col-md-3 col-lg-3 action">
            <a href="#infoModal" data-toggle="modal" class="text-decoration-none text-dark">
              <span class="d-flex flex-column align-items-center py-3">
                <i class="fas fa-user-edit"></i>
                <p class="mb-0">Edit Profile</p>
              </span>
            </a>
          </div>
          <div class="col-md-3 col-lg-3 action">
            <a href="#pwdModal" data-toggle="modal" class="text-decoration-none text-dark">
              <span class="d-flex flex-column align-items-center py-3">
                <i class="fas fa-user-lock"></i>
                <p class="mb-0">Change password</p>
              </span>
            </a>
          </div>
          <div class="col-md-3 col-lg-3 action">
            <a href="" class="text-decoration-none text-dark">
              <span class="d-flex flex-column align-items-center py-3">
                <i class="fas fa-shopping-cart"></i>
                <p class="mb-0">Orders</p>
              </span>
            </a>
          </div>
          <div class="col-md-3 col-lg-3 action">
            <a href="" class="text-decoration-none text-dark">
              <span class="d-flex flex-column align-items-center py-3">
                <i class="fas fa-star"></i>
                <p class="mb-0">Review/Suggestions</p>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="modal fade bg-clear-glass" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark border-0">
      <div class="modal-header d-flex flex-column align-items-center border-warning">
        <h3 class="modal-title text-light" id="infoModalLabel">Edit Account Info</h3>
        <small class="font-italic mb-1 text-light">Change the data you wish to update.</small>
      </div>

      <form action="" method="POST" id="updateForm">
        {{updateForm.hidden_tag()}}
        <fieldset>
          <div class="modal-body {{'info-invalid' if updateForm.errors else ''}}">
            <div class="container bg-light f-field">
              <div class="form-group">
                {{updateForm.username(class="form-control")}}
                {{updateForm.username.label(class="form-control-label")}}
                <div class="invalid-feedback">
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="name_error"></span>
                </div>
              </div>
            </div>
            <div class="container bg-light f-field">
              <div class="form-group">
                {{updateForm.email(class="form-control")}}
                {{updateForm.email.label(class="form-control-label")}}
                <div class="invalid-feedback">
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="email_error"></span>
                </div>
              </div>
            </div>
            <div class="container bg-light f-field">
              <div class="form-group">
                {{updateForm.contact(class="form-control")}}
                {{updateForm.contact.label(class="form-control-label")}}
                <div class="invalid-feedback">
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="contact_error"></span>
                </div>
              </div>
            </div>
            <div class="container bg-light f-field">
              <div class="form-group">
                {% if updateForm.password.errors %}
                {{updateForm.password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in updateForm.password.errors %}
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="password_error">{{error}}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{updateForm.password(class="form-control")}}
                {% endif %}
                {% if not updateForm.password.errors %}
                <div class="invalid-feedback">
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="password_error"></span>
                </div>
                {% endif %}
                <small class="helper-text font-italic mb-1 text-muted">Password needed to make changes.</small>
                {{updateForm.password.label(class="form-control-label")}}
              </div>
            </div>
          </div>
          <div class="modal-footer border-0">
            <input type="hidden" name="form" value="info">
            <button type="button" class="btn btn-sm shadow btn-secondary" data-dismiss="modal">Cancel</button>
            {{updateForm.submitInfo(class="btn btn-sm btn-warning shadow")}}
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="modal fade bg-clear-glass" id="pwdModal" tabindex="-1" role="dialog" aria-labelledby="pwdModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark border-0">
      <div class="modal-header d-flex flex-column align-items-center border-warning">
        <h3 class="modal-title text-light" id="infoModalLabel">Change Password</h3>
      </div>

      <form action="" id="pwdForm" method="POST">
        {{pwdForm.hidden_tag()}}
        <fieldset>
          <div class="modal-body {{'info-invalid' if pwdForm.errors else ''}}">
            <div class="container bg-light f-field">
              <div class="form-group">
                {% if pwdForm.current.errors %}
                {{pwdForm.current(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in pwdForm.current.errors %}
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="password_error">{{error}}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{pwdForm.current(class="form-control")}}
                {% endif %}
                {{pwdForm.current.label(class="form-control-label")}}
              </div>
            </div>
            <div class="container bg-light f-field">
              <div class="form-group">
                {% if pwdForm.new_password.errors %}
                {{pwdForm.new_password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in pwdForm.new_password.errors %}
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="confirm_password">{{error}}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{pwdForm.new_password(class="form-control")}}
                {% endif %}
                {{pwdForm.new_password.label(class="form-control-label")}}
                {% if not pwdForm.new_password.errors %}
                <div class="invalid-feedback">
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="new_password"></span>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="container bg-light f-field">
              <div class="form-group">
                {% if pwdForm.confirm_new_password.errors %}
                {{pwdForm.confirm_new_password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in pwdForm.confirm_new_password.errors %}
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="confirm_password">{{error}}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{pwdForm.confirm_new_password(class="form-control")}}
                {% endif %}
                {% if not pwdForm.confirm_new_password.errors %}
                <div class="invalid-feedback">
                  <span><i class="fas fa-times-circle mr-2"></i></span><span id="confirm_password"></span>
                </div>
                {% endif %}
                {{pwdForm.confirm_new_password.label(class="form-control-label")}}
              </div>
            </div>
          </div>
          <div class="modal-footer border-0">
            <input type="hidden" name="form" value="pwd">
            <button type="button" class="btn btn-sm shadow btn-secondary" data-dismiss="modal">Cancel</button>
            {{pwdForm.submitPwd(class="btn btn-sm btn-warning shadow")}}
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{%endblock%}
{% block page_scripts%}
<script src="{{url_for('BP_account.static', filename='js/acc.js')}}"></script> {% endblock %}