
// HTML {
// 	CSSResult {
// 		Skip {
// 			Results {
// 				Iframe {
// 					EDIT {
// 						ON {
// 							html {
// 								height: 100%;
// 								width: 100%;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
body {
	height: 100%;
	width: 100%;
	main{
		padding-top: 60px ;
		background-color: rgb(10, 10, 56);
	}
}

.btn-default
 
{
 
background-color: rgb(202, 124, 60);
 
color:rgb(7, 7, 7);
width: 50%;
 

 
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
 
 
 
background-color: rgb(202, 124, 60);
color: black;


 
}

