@import "../../../static/styles/variables";
main {
	background-image: $account-module-background;
	padding-top: 60px;
}

.btn-default {
	background-color: rgb(202, 124, 60);
	color: rgb(7, 7, 7);
	width: 50%;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	background-color: rgb(202, 124, 60);
	color: black;
}
