<div class="overlay"></div>
<div class="floating-action" role="button">
    <span class="fab-toggle">
        <i class="fas fa-plus"></i>
    </span>
    <ul class="fab-options">
        <li class="fab-head">
            <span>Reach Us</span>
        </li>
        <a href="tel:+919713850853" class="fab-link call">
            <li class="fab-item">
                <span class="icon fas fa-phone-alt"></span>
                <span class="text">+91 9713850853</span>
            </li>
        </a>
        <a href="https://wa.me/message/SR6AUPRLW2SIJ1" target="_blank" class="fab-link">
            <li class="fab-item">
                <span class="icon fab fa-whatsapp"></span>
                <span class="text">+91 9713850853</span>
            </li>
        </a>
        <a href="http://www.instagram.com/_u/kreativision.photoarts/" class="fab-link instagram">
            <li class="fab-item">
                <span class="icon fab fa-instagram"></span>
                <span class="text">kreativision.photoarts</span>
            </li>
        </a>
        <a href="mailto:kreativision.photoarts@gmail.com?subject=Contact from the site" class="fab-link">
            <li class="fab-item">
                <span class="icon fas fa-envelope"></span>
                <span class="text">kreativision.photoarts@gmail.com</span>
            </li>
        </a>
        <a href="" class="fab-link">
            <li class="fab-item">
                <span class="icon fas fa-id-badge"></span>
                <span class="text">Meet the Team</span>
            </li>
        </a>
    </ul>
</div>