<section class="bg-dark footer">
    <div class="container text-center">
      <p class="display-4 text-light m-0">Reach Us</p>
    </div>
    <div class="row px-3 pb-4 pt-0 border-bottom border-warning">
      <div class="mt-3 py-3 col-sm-12 col-md-4 col-lg-4 border-top border-warning">
        <p class="h2 text-warning mb-4">Contact</p>
        <div class="container d-flex my-3">
          <a href="#" class="btn whatsapp shadow">
            <i class="fab fa-whatsapp"></i>
            <span class="ml-3">+91 9713850853</span>
            <i class="fas fa-chevron-right ml-2"></i>
          </a>
        </div>
        <div class="container d-flex my-3">
          <a href="#" class="btn instagram shadow">
            <i class="fab fa-instagram"></i>
            <span class="ml-3">kreativision.photoarts</span>
            <i class="fas fa-chevron-right ml-2"></i>
          </a>
        </div>
        <div class="container d-flex my-3">
          <a href="#" class="btn gmail text-light shadow">
            <i class="fas fa-envelope"></i>
            <span class="ml-3">picskreativision@gmail.com</span>
            <i class="fas fa-chevron-right ml-2"></i>
          </a>
        </div>
      </div>
      <div class="mt-3 py-3 col-sm-12 col-md-4 col-lg-4 border-top border-warning">
        <p class="h2 text-warning mb-4">We are here</p>
        <iframe class="d-flex justify-content-center"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242117.6810190288!2d73.72287914185122!3d18.524890421181116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf2e67461101%3A0x828d43bf9d9ee343!2sPune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1611985926056!5m2!1sen!2sin"
          width="100%" height="300" frameborder="0" style="border:0; border-radius: 0.5rem;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>
      <div class="mt-3 py-3 col-sm-12 col-md-4 col-lg-4 border-top border-warning">
        <p class="h2 text-warning mb-4">Our Team</p>
        <div class="card shadow border-0 mb-3">
          <div class="card-body d-flex team py-2">
            <div class="dp shadow" style="background: url('{{url_for('BP_home.static', filename='images/asset-3.png')}}'); background-size: contain;"></div>
            <div class="header-content mr-auto ml-3">
              <h3 class="card-title text-dark font-weight-normal mb-1 mt-2">Amittras Pal</h3>
              <p class="text-dark">Designer, Consultant</p>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-around">
            <a href="#" class="btn btn-info border-0 shadow font-weight-bold">
              <i class="fas fa-phone-alt"></i>
            </a>
            <a href="#" class="btn btn-warning border-0 shadow font-weight-bold">
              <i class="fas fa-envelope"></i>
            </a>
            <a href="#" class="btn btn-light border-0 shadow font-weight-bold">
              <i class="fas fa-plus"></i>
              KNOW MORE
            </a>
          </div>
        </div>
        <div class="card shadow border-0 mb-3">
          <div class="card-body d-flex team py-2">
            <div class="dp shadow" style="background: url({{url_for('BP_home.static', filename='images/asset-3.png')}}); background-size: contain;"></div>
            <div class="header-content mr-auto ml-3">
              <h3 class="card-title text-dark font-weight-normal mb-1 mt-2">Sukriti Shukla</h3>
              <p class="text-dark">Consultant, Manager</p>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-around">
            <a href="#" class="btn btn-info border-0 shadow font-weight-bold">
              <i class="fas fa-phone-alt"></i>
            </a>
            <a href="#" class="btn btn-warning border-0 shadow font-weight-bold">
              <i class="fas fa-envelope"></i>
            </a>
            <a href="#" class="btn btn-light border-0 shadow font-weight-bold">
              <i class="fas fa-plus"></i>
              KNOW MORE
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>