<!DOCTYPE html>
<html lang="en">
<!-- This is the Main/Master Template Page.
     Extended by all modules and their pages. -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap and Fontawesome -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/FA.css')}}">

    <!-- Custom Global Styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/global-styles.css')}}">

    <!-- "Coming Soon . . ." block styles: Remove when project finishes. -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/coming-soon.css')}}">

    <!-- Block to include module specific styles -->
    {% block page_style %} {% endblock %}

    <!-- Dynamic Title -->
    <title>{{title}} | KreatiVision</title>
</head>

<body>
    <div class="navigation-wrapper">
        <!-- Sidebar for Mobile Devices -->
        <nav class="bg-white-glass" id="sidebar">
            <div class="sidebar-header">
                <span class="ml-auto">
                    <button type="button" class="btn text-dark" onclick="closeSidebar()">
                        <i class="fas fa-times"></i>
                    </button>
                </span>
            </div>

            <ul class="list-unstyled text-white">
                {% set nav_links =
                [(url_for('home_bp.home'), 'home', 'Home'),
                (url_for('services_bp.s_home'), 'services', 'Services')]
                -%}
                {% set active = active|default('home') -%}
                {% for href, id, caption in nav_links %}
                <li class="{{'active' if active==id else ''}}">
                    <a href="{{href|e}}" class="nav-link text-dark">
                        {{caption|e}}
                        <i class="fas fa-chevron-right ml-auto mr-3 mt-1"></i>
                    </a>
                </li>
                {% endfor %}
                <li class="{{'active' if active=='login' else ''}}">
                    <a href="{{url_for('auth_bp.login')}}" class="nav-link text-dark">
                        Login
                        <i class="fas fa-chevron-right ml-auto mr-3 mt-1"></i>
                    </a>
                </li>
            </ul>
        </nav>
        
        <!-- Top Navbar for Desktop Systems -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-clear-glass">
            <button type="button" class="btn ml-0" id="sidebarToggle" onclick="openSidebar()">
                <i class="fas fa-stream text-white"></i>
            </button>
            <a class="navbar-brand mr-auto ml-2" href="#">KreatiVision PhotoArts</a>
            <ul class="navbar-nav ml-auto" id="topBar">
                {% for href, id, caption in nav_links %}
                <li class="{{'nav-item active' if active==id else 'nav-item'}}">
                    <a href="{{href|e}}" class="nav-link">{{caption|e}}</a>
                </li>
                {% endfor %}
                <li class="{{'nav-item active' if active=='login' else 'nav-item'}}">
                    <a href="{{url_for('auth_bp.login')}}" class="nav-link">Login</a>
                </li>
            </ul>
        </nav>
    </div>

    <main class="content">
        <!-- Main Body Content Block -->
        {% block body_content %} {% endblock %}
    </main>



    <!-- Block to include module specific scripts -->
    {% block page_scripts%} {% endblock %}

    <!-- Bootstrap/Jquery/Popper bundles from cdn: Required for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>