<!DOCTYPE html>
<html lang="en">
<!-- This is the Main/Master Template Page.
     Extended by all modules and their pages. -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap and Fontawesome -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/FA.css')}}">

    <!-- Custom Global Styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/global-styles.css')}}">

    <!-- "Coming Soon . . ." block styles: Remove when project finishes. -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/coming-soon.css')}}">

    <!-- Block to include module specific styles -->
    {% block page_style %} {% endblock %}

    <!-- Dynamic Title -->
    <title>{{title}} | KreatiVision</title>
</head>

<body>
    <div class="navigation-wrapper">
        <!-- Sidebar for Mobile Devices -->
        <nav class="bg-white-glass" id="sidebar">
            <div class="sidebar-header">
                <span class="ml-auto">
                    <button type="button" class="btn text-dark" onclick="closeSidebar()">
                        <i class="fas fa-times"></i>
                    </button>
                </span>
            </div>

            <ul class="list-unstyled text-white">
                {% set nav_links =
                [(url_for('BP_home.home'), 'home', 'Home')]
                -%}
                {% set active = active|default('home') -%}
                {% for href, id, caption in nav_links %}
                <li class="{{'active' if active==id else ''}}">
                    <a href="{{href|e}}" class="nav-link text-dark">
                        {{caption|e}}<i class="fas fa-chevron-right ml-auto mr-3 mt-1"></i>
                    </a>
                </li>
                {% endfor %}

                {% if current_user.is_authenticated %}
                <li>
                    <a href="#" class="nav-link text-dark">
                        Account Info<i class="fas fa-chevron-right ml-auto mr-3 mt-1"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-dark">
                        My Orders<i class="fas fa-chevron-right ml-auto mr-3 mt-1"></i>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('logout')}}" class="nav-link text-dark">
                        Logout<i class="fas fa-chevron-right ml-auto mr-3 mt-1"></i>
                    </a>
                </li>
                {% else %}
                <li class="{{'active' if active=='login' else ''}}">
                    <a href="{{url_for('login')}}" class="nav-link text-dark">
                        Login<i class="fas fa-chevron-right ml-auto mr-3 mt-1"></i>
                    </a>
                </li>
                {% endif %}

            </ul>
        </nav>

        <!-- Top Navbar for Desktop Systems -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-clear-glass">
            <button type="button" class="btn ml-0" id="sidebarToggle" onclick="openSidebar()">
                <i class="fas fa-stream text-white"></i>
            </button>
            <a class="navbar-brand mr-auto ml-2" href="#">KreatiVision PhotoArts</a>
            <ul class="navbar-nav ml-auto mr-4" id="topBar">
                {% for href, id, caption in nav_links %}
                <li class="{{'nav-item active' if active==id else 'nav-item'}}">
                    <a href="{{href|e}}" class="nav-link">{{caption|e}}</a>
                </li>
                {% endfor %}

                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Account Info</a>
                        <a class="dropdown-item" href="#">My Orders</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=" {{url_for('logout')}} ">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="{{'nav-item active' if active=='login' else 'nav-item'}}">
                    <a href="{{url_for('login')}}" class="nav-link">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <main class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, content in messages %}
        <!-- <div class="alert alert-{{category}}">{{content[0]}}</div> -->
        <div class="toast shadow" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000">
            <div class="toast-header">
                <strong class="mr-auto text-{{category}}">{{content[0]}}</strong>
                <!-- <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                    <small class="text-muted"><i class="fas fa-times"></i></small>
                </button> -->
            </div>
            <div class="toast-body">
                {{content[1]}}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Main Body Content Block -->
        {% block body_content %} {% endblock %}
    </main>

    <!-- Bootstrap/Jquery/Popper bundles from cdn: Required for Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <!-- Block to include module specific scripts -->
    {% block page_scripts%} {% endblock %}
</body>

</html>