<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap and Fontawesome compiled together -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/vendors.css')}}">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/global-styles.css')}}">
    {% block page_style %} {% endblock %}
    <title>{{title}} | KreatiVision</title>
</head>
<body>
    <header>
        <!-- Nav Links Configuration -->
        {% if current_user.is_authenticated %}
        {% set navItems = [
        (url_for('BP_home.home'), 'home', 'Home'),
        (url_for('BP_home.blog'), 'blog', 'Blog'),
        (url_for('BP_home.service_list'), 'services', 'Services'),
        (url_for('BP_account.account_info'), 'account_info', 'Account Info'),
        ('#', 'cart', 'Cart'),
        ('#', '#', 'My Orders'),
        (url_for('BP_auth.logout'), 'logout', 'Logout')
        ] %}
        {% else %}
        {% set navItems = [
        (url_for('BP_home.home'), 'home', 'Home'),
        (url_for('BP_home.blog'), 'blog', 'Blog'),
        (url_for('BP_home.service_list'), 'services', 'Services'),
        (url_for('BP_auth.login'), 'login', 'Login'),
        (url_for('BP_auth.sign_up'), 'register', 'Register'),
        ] %}
        {% endif %}
        {% set active = active|default('home') -%}
        <!-- Sidebar for Mobile Devices -->
        <nav class="bg-black-glass" id="sidebar">
            <div class="sidebar-header">
                <span class="ml-auto">
                    <button type="button" class="btn text-light" onclick="toggleSidebar('close')">
                        <i class="fas fa-times"></i>
                    </button>
                </span>
            </div>
            <ul class="list-unstyled text-white">
                {% for href, id, caption in navItems %}
                <li class="{{'active' if active==id else ''}}">
                    <a href="{{href|e}}" class="nav-link text-light">
                        {{caption|e}}<i class="fas fa-chevron-right ml-auto mr-3 mt-1"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <!-- Top Navbar for Desktops -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-black-glass shadow">
            <button type="button" class="btn ml-0" id="sidebarToggle" onclick="toggleSidebar('open')">
                <i class="fas fa-stream text-white"></i>
            </button>
            <a class="navbar-brand mr-auto ml-2" href="{{url_for('BP_home.home')}}">KreatiVision PhotoArts</a>
            <ul class="navbar-nav ml-auto mr-4" id="topBar">
                <!-- If Logged In -->
                {% if current_user.is_authenticated %}
                {% for href, id, caption in navItems[0:-4] %}
                <li class="nav-item {{'active' if active==id else ''}}">
                    <a href="{{href|e}}" class="nav-link">{{caption|e}}</a>
                </li>
                {% endfor %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{current_user.username}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="navbarDropdown">
                        {% for href, id, caption in navItems[-4:-1] %}

                        <a href="{{href|e}}" class="dropdown-item {{'active' if active==id else ''}}">
                            <span class="mr-3">{{caption|e}}</span>
                            {% if id == 'cart' %}
                            <span class="badge badge-pill badge-info">2</span>
                            {% endif %}
                        </a>
                        {% endfor %}
                        <div class="dropdown-divider bg-dark"></div>
                        {% for href, id, caption in navItems[-1:] %}
                        <a href="{{href|e}}" class="dropdown-item">{{caption|e}}</a>
                        {% endfor %}
                    </div>
                </li>
                {% else %}
                <!-- If Not Logged In -->
                {% for href, id, caption in navItems %}
                <li class="nav-item {{'active' if active==id else ''}}">
                    <a href="{{href|e}}" class="nav-link">{{caption|e}}</a>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="content">
        <!-- Toast messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, content in messages %}
        <div class="toast shadow" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3500">
            <div class="toast-header">
                <strong class="mr-auto text-{{category}}">{{content[0]}}</strong>
            </div>
            <div class="toast-body">
                {{content[1]}}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- Main Body Content Block Placeholder-->
        {% block body_content %} {% endblock %}
    </main>

    <!-- Bootstrap/Jquery/Popper bundles from cdn: Required for Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <!-- Custom JS Script -->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    {% block page_scripts%} {% endblock %}
</body>

</html>